receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
  hostmetrics:
    collection_interval: ${HOSTMETRICS_COLLECTION_INTERVAL}
    scrapers:
      process:
        include:
          # names:
            # - ${PROCESS_EXECUTABLE_NAME}
          names:
            - python3
          match_type: strict

processors:
  filter:
    metrics:
      include:
        match_type: regexp
        metric_names:
          - process.cpu.time
          - process.memory.physical_usage
          - process.memory.virtual_usage
          - process.disk.io
        resource_attributes:
          - Key: process.command_line
            # Value: ${PROCESS_COMMAND_LINE}
            Value: /usr/local/bin/python3 application.py

exporters:
  logging/debug:
    loglevel: debug
  logging/error:
    loglevel: error
  awsemf:
    # output_destination: stdout
    region: us-west-2
    namespace: ${LOGS_NAMESPACE}
    log_group_name: ${LOG_GROUP_NAME}
    log_stream_name: ${LOG_STREAM_NAME}
    resource_to_telemetry_conversion:
      enabled: true
    dimension_rollup_option: NoDimensionRollup
    # parse_json_encoded_attr_values: [Sources, kubernetes]
    metric_declarations:
      - dimensions: [[process\.command_line]]
        metric_name_selectors:
          - process.memory.virtual_usage
          - process.disk.io
          - process.cpu.time
          - process.memory.physical_usage
      # # Only able to see these more detailed dimensions on my CloudDesktop?
      # - dimensions: [[process.command_line, state]]
      #   metric_name_selectors:
      #     - process.cpu.time
      # - dimensions: [[process.command_line, direction]]
      #   metric_name_selectors:
      #     - process.disk.io
      # - dimensions: [[process.command_line, direction]]
      #   metric_name_selectors:
      #     - process.memory.physical_usage
      #     - process.memory.virtual_usage

service:
  pipelines:
    traces:
      receivers:
        - otlp
      exporters:
        - logging/error
    metrics:
      receivers:
        - otlp
        - hostmetrics
      processors:
        - filter
      exporters:
        - awsemf
        # - logging/debug
