receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
  hostmetrics:
    collection_interval: ${HOSTMETRICS_COLLECTION_INTERVAL}
    scrapers:
      process:
        include:
          names: [ python3 ]
          match_type: strict

processors:
  filter:
    metrics:
      include:
        match_type: strict
        metric_names:
          - process.cpu.time
          - process.memory.physical_usage
          - process.memory.virtual_usage
          # - process.disk.io
        resource_attributes:
          - Key: process.command_line
            Value: /usr/local/bin/python3 application.py

exporters:
  logging/error:
    loglevel: error
  # DEBUG LOGGER
  logging/debug:
    loglevel: debug
  awsemf:
    # output_destination: stdout
    region: us-west-2
    namespace: ${LOGS_NAMESPACE}
    log_group_name: ${LOG_GROUP_NAME}
    log_stream_name: ${LOG_STREAM_NAME}
    resource_to_telemetry_conversion:
      enabled: true
    dimension_rollup_option: NoDimensionRollup
    # parse_json_encoded_attr_values: [Sources, kubernetes]
    # NOTE: We can't filter _anything_ because we will lose the LOAD metrics...
    # Results in a lot of garbage. Can solve using issue below.
    # metric_declarations:
    #   # CPU Time
    #   - dimensions: [[state]]
    #     metric_name_selectors:
    #       - system\.cpu\.time
    #   # Cannot filter on LOAD when metric has no dimensions
    #   # See: https://github.com/open-telemetry/opentelemetry-collector/issues/3825
    #   # # CPU Load
    #   # - dimensions: []
    #   #   metric_name_selectors:
    #   #     - system.cpu\.load_average\.1m
    #   # Memory
    #   - dimensions: [[state]]
    #     metric_name_selectors:
    #       - system\.memory\.usage
    #     label_matchers:
    #       label_names:
    #         - state
    #       regex: free

service:
  pipelines:
    traces:
      receivers:
        - otlp
      exporters:
        - logging/error
    metrics:
      receivers:
        - otlp
        - hostmetrics
      processors:
        - filter
      exporters:
        - logging/debug
        - awsemf
